.posts{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.posts__avatar{
    width: 54px;
    height: 50px;
    
    border-radius: 50%;

    object-fit: cover;
}
.posts__text{
    margin: 0px;

    font-size: 20px;

    height: 100%;
}