.wrapper{
  display: grid;
  grid-template-areas: 
  "header header header"
  "slidebar content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;


  max-width: 1300px;
  
  padding: 0px 30px;
  
  margin: 0 auto;
  margin-top: 20px;
}
.wrapper__content{
  grid-area: content;
}
